:root{
    --bg-main:#101B3B;
    --bg-hoverdark: #040F2C;
    --bg-secondary: #203972;
    --bg-tertiary: #3E5AAA;
    --bg-namehighlight: #45E3FF;
    --disc-color1: #FF7276;
    --disc-color2: #FFF36D;
    --vs-matchcolor: #FF4A4A;
    --text-color:#ffffff;
}

body{
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif ;
    font-weight: 400;
    background-color: var(--bg-secondary);
}

nav{
    width: 100vw;
    height: 60px;
    background-color:var(--bg-main);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

a:hover{
   color: var(--disc-color2);
}

ul{
    display: flex;
    gap:2em;
    list-style-type: none;
    font-size: 18px;
    padding: 0;
}

li{
    font-weight: 600;
}

main{
    height: 100vh;
}

.bgbox{
    background: var(--bg-main);
    height: 499px;
    width: 499px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.connect{
    margin-bottom: 0;
    font-size: 32px;
    text-transform: uppercase;
}

.online{
    margin-top: 0;
}

.boxcontainer{
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.board{
    height: 340px;
    width: 360px;
    background-color: var(--bg-tertiary);
    margin-bottom: 30px ;
    border-radius: 35px;
    flex-wrap: wrap;
}
