:root{
    --bg-main:#101B3B;
    --bg-secondary: #203972;
    --bg-tertiary: #3E5AAA;
    --bg-namehighlight: #45E3FF;
    --disc-color1: #FF7276;
    --disc-color2: #FFF36D;
    --vs-matchcolor: #FF4A4A;
    --text-color:#ffffff;
}