:root{
    --bg-main:#101B3B;
    --bg-hoverdark: #040F2C;
    --bg-secondary: #203972;
    --bg-tertiary: #3E5AAA;
    --bg-namehighlight: #45E3FF;
    --disc-color1: #FF7276;
    --disc-color2: #FFF36D;
    --vs-matchcolor: #FF4A4A;
    --text-color:#ffffff;
}

body{
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif ;
    font-weight: 400;
    background-color: var(--bg-secondary);
}

nav{
    width: 100vw;
    height: 60px;
    background-color:var(--bg-main);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

a:hover{
   color: var(--disc-color2);
}

ul{
    display: flex;
    gap:2em;
    list-style-type: none;
    font-size: 18px;
}

li{
    font-weight: 600;
}

